#root {
  max-width: 100%;
  margin: 0 0;
  padding: 0;
  
  background-color: black;
}

div {

  & .page {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    background-color: #fff;
    font-family: "Trasandina W03 Book";
  }

  &.content {
    background-color: #fff;
    min-height: 90vh;
  }
  
  &.hero {
    height: 100%;

    > img.logo {
      max-width: 100%;
      margin: 0 0;
      border: none;
      display: block;
    }
  }

  &.credits {
    background: #f5e3ff;
    font-size: .8em;
  }

  &.prizebar {
    background: #f5e3ff;
    padding: 0 3em 3em 3em;

    > div {
      padding: 1em 0em;
    }
  }

  &.place {
    /* font-family: "Trasandina W03 Book"; */
    font-size: 1.5em;;
    line-height: normal;
  }

  &.place-sm {
    /* font-family: "Trasandina W03 Book"; */
    font-size: .9em;;
    line-height: normal;
  }

  &.award {
    /* font-family: "Trasandina W03 Bold Italic"; */
    color: #0036b6;
    font-size: 3em;
    line-height: normal;
  }

  &.place-sm > span {
    max-width: 200px;
  }

  &.details {
    width: 100%;
    padding: 0 3em 3em 3em;

    .registration {
      text-align: left;
      line-height: 1.2;
      color: #0036b6;

      .emphasis {
        font-size: 2em;
      }

      .register-cta {
        font-size: 1.5em;
      }

      .register-link {
        
        vertical-align: middle;

        a {
          padding: 1em .5em !important;
        }

        .icon {
          font-size: 2em;
          padding:  1em 1em 1em 1em;
          color: #000;
        }
      }

      .reminders {
        
        padding: 1em;

        a {
          margin: .5em;
          color: #000;
          font-family: "Trasandina W03 Bold";
          font-size: 1em;
          
          &:hover {
            color:#f5e3ff;
          }
        }
      }

      a {
        font-size: 2em;
      }
    }

    p {
      text-align: justify;
    }
  }
  
}

.title {
  font-family: "Trasandina W03 Bold Italic";
}

.brand {
  font-family: "Trasandina W03 Bold";
  color: #0036b6;
  font-size: 2em;
}

.date {
  font-family: "Trasandina W03 Bold";
  font-size: 1.1em;
}

a {
  color: #0036b6;
  

  &:hover {
    color: #f5e3ff;;
  }
}

hr {
  border-top: 1px solid #fff;
}